body{
    background-color: #f5f6f7;
    display: flex;
    justify-content: center;
}


.logincenter{
    text-align: center;
    margin-top:100px;
    font-size:55px;
    font-weight: bold;
    margin-bottom: 20px;
}

.loginform{
    display:flex;
    flex-direction: column;
}

#id, #password{
    height: 30px;
    margin-bottom: 5px;
    font-size: 16px;
}

.button{
    height: 45px;
    font-size: 16px;
    font-weight: 400;
}


.convlog{
    font-size: 12px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.logbox{
    font-size: 12px;
    margin-top:5px;
    display: flex;
    justify-content: flex-start;
}

a{
    text-decoration: none;
}
.loglink{
    display:flex;
    justify-content: space-between;
    font-size: 12px;
}

a{
    color: black;
}
